/*
 *  VARIABLES
 *  =============================================
 */
/*
 *  BREAKPOINTS
 *  ---------------------------------------------
 */
/*
 *  COLORS: LIGHT THEME
 *  ---------------------------------------------
 */
:root {
  --color-background: hsl(33.1, 52.7%, 93%);
  --color-text: hsl(142.8, 78.4%, 14.5%);
  --color-subtle-text: hsla(142.8, 78.4%, 14.5%, .7);
  --color-link-underline: hsla(142.8, 78.4%, 14.5%, .5); }

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: hsl(142.7, 67.3%, 10.8%);
    --color-text: hsl(32.5, 19%, 75.3%);
    --color-subtle-text: hsla(32.5, 19%, 75.3%, .7);
    --color-link-underline: hsla(32.5, 19%, 75.3%, .5); } }

/*
 *  FONT DECLARATIONS
 *  =============================================
 */
@font-face {
  font-family: "Young Serif Regular";
  src: url("../fonts/YoungSerif-Regular.woff2") format("woff2"), url("../fonts/YoungSerif-Regular.woff") format("woff"), url("../fonts/YoungSerif-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Black.woff2") format("woff2"), url("../fonts/WorkSans-Black.woff") format("woff"), url("../fonts/WorkSans-Black.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Bold.woff2") format("woff2"), url("../fonts/WorkSans-Bold.woff") format("woff"), url("../fonts/WorkSans-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

/*
 *  BASE STYLES
 *  =============================================
 */
html {
  font: 125%/1.4 "Young Serif Regular", "Georgia", serif;
  background-color: var(--color-background);
  color: var(--color-text); }

* {
  box-sizing: border-box; }

body {
  margin: 0 auto;
  padding: 1.5em;
  max-width: 68em; }

:focus {
  outline: 2px solid var(--color-text); }

::selection {
  background: var(--color-text);
  color: var(--color-background); }

::-moz-selection {
  background: var(--color-text);
  color: var(--color-background); }

p {
  margin: 0;
  font: 600 1em/1 "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: var(--color-subtle-text); }

a:link, a:visited {
  padding: .1em;
  text-decoration-color: var(--color-link-underline);
  text-decoration-skip-ink: auto;
  text-underline-offset: 0.15em;
  color: inherit;
  transition: color 200ms ease-out, background 200ms ease-out; }

a:hover {
  background: var(--color-text);
  color: var(--color-background); }

a:focus {
  text-decoration: none; }

@media (min-width: 32em) {
  body {
    padding: 2rem; } }

@media (min-width: 54em) {
  body {
    padding: 4rem; } }

/*
 *  SITE HEADER
 *  ---------------------------------------------
 */
.site-header__title {
  margin: 0 0 .25em;
  font: 800 2.5em/1 "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

.site-header__good {
  display: inline-block;
  padding-top: .125em;
  border-top: .35em solid; }

@media (min-width: 54em) {
  .site-header {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .site-header__title {
    flex-shrink: 0;
    margin: 0 2em 0 0; }
  .site-header__good {
    display: inline;
    border-bottom-width: .45em; } }

/*
 *  GOOD THINGS LIST
 *  ---------------------------------------------
 */
.things-list {
  margin: 2em 0;
  padding: 0;
  list-style: none;
  font-size: 1.125em; }

.things-list__item {
  display: inline; }

@media (min-width: 32em) {
  .things-list {
    font-size: 1.5em; } }

@media (min-width: 54em) {
  .things-list {
    margin: 4rem 0;
    font-size: 1.875em; } }
