<!DOCTYPE html>
<html lang="en">
<head>
  <title>Good Things</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="A personal compilation of good sensory things in life.">
  <meta name="robots" content="index, follow">
  
  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body {% if slug %}class="body--{{ slug }}"{% endif %}>

  <header class="site-header" role="banner">
    <h1 class="site-header__title"><span class="site-header__good">Good</span> Things</h1>
    <p class="site-header__subtitle">A personal compilation of good sensory things in life.</p>
  </header>

  <main role="main">
    {{ content | safe }}
  </main>

  <footer class="site-footer" role="contentinfo">
    <p>Compiled by <a href="http://melanie-richards.com">Melanie Richards</a> — <a href="https://github.com/melanierichards/good-things">Explore the code</a></p>
  </footer>

</body>